*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --black: #000000;
    --white: #ffffff;
    --cor-principal: #E4032C;
    --cor-principal-black: #86051c;
}

body{
    max-width: 1800px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px 0 25px;
    height: 60px;
    
}

header a{
    font-family: "Caacupe One", sans-serif;
    font-weight: 200;
}

.detalhe{
    background-color: var(--cor-principal);
    height: 30px;
}

.top-um{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.top-um a{
    color: var(--black);
    text-decoration: none;
    
}

.top-um img{
    width: 100px;
}

.top-dois{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.top-dois a{
    color: var(--black);
    text-decoration: none;  
}

.top-dois img{
    width: 18px;
}

.container-Um{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 25px 0 25px;
    gap: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.img-topo{
    max-width: 1000px;
}

.img-topo img{
    width: 100%;

}

.container-dois {
    width: 100%;
}

.titulo{
    max-width: 700px;
}

.titulo h1{
    width: 100%;
    margin-bottom: 25px;
    font-size: 50px;
    font-family: "Caacupe One", sans-serif;
}

.titulo h2{
    width: 100%;
    margin-bottom: 25px;
    font-size: 20px;
}


/* estilização buttao uiverse */
.button {
 outline: 0;
 border: 0;
 display: flex;
 flex-direction: column;
 width: 100%;
 max-width: 140px;
 height: 50px;
 border-radius: 0.5em;
 overflow: hidden;
}

.button div {
 transform: translateY(0px);
 width: 100%;
}

.button,
.button div {
 transition: 0.6s cubic-bezier(.16,1,.3,1);
}

.button div span {
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 50px;
 padding: 0.75em 1.125em;
}

.button div:nth-child(1) {
 background-color: var(--cor-principal);
}

.button div:nth-child(2) {
 background-color: var(--cor-principal-black);
}

.button:hover {
 box-shadow: 0 0.625em 1em 0 var(--cor-principal);
}

.button:hover div {
 transform: translateY(-50px);
}

.button p {
 font-size: 17px;
 font-weight: bold;
 color: #ffffff;
}

.button:active {
 transform: scale(0.95);
}

.box-um{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 25px 0 25px;
}

.titulo-Dois{
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.titulo-Dois h1{
    font-size: 55px;
    font-family: "Caacupe One", sans-serif;
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    border: #00000015 solid 1px;
    box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

.card p{
    width: 300px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card h2{
    font-size: 22px;
    margin-top: 15px;
}

.card img{
    width: 120px;
    border-radius: 50%;
}

.img-card{

    background-color: var(--cor-principal);
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-card-white{
    background-color: var(--white);
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}





@media (max-width: 1188px) {
    .container-Um{
        display: flex;
        flex-direction: column-reverse;
    }

    .titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    
    }

    .container-dois {
        display: flex;
        flex-direction: column;
    }

    .box-um {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 30px;
    }

    .card{
        display: flex;
       
    }

}